body {
    font-family: Arial, sans-serif;
    background-image: url('/img/2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


header {
    background-color: black;
    padding: 30px 0;
    text-align: center;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}


main {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 25px 20%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

div.container {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 25px 20%;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
}

div.container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    border: 1px solid white;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}